/*
@theme marp-incide
*/

/* INCIDE theme for MARP */

@import 'marp-base';

/******************* common styles *****************************/

:root {
    --main-color: rgb(17, 138, 207);
    --darker-color: #246;
    --lighter-color: #87ceeb;
    --extra-back-color: rgb(175, 172, 172);
}

/* Logo */
section::before {
    content: "";
    width: 12%;
    height: 10%;
    position: absolute;
    right: 1%;
    top: 2%;
    background: url('themes/incide/incide_logo.png') no-repeat center/contain;
}

/******************* lead2 *****************************/


/* lead2 class (alternate version) first slide in a section. Use h1 as header.
Use: <!-- _class: lead2 --> */
section.lead2 {
    background-image: url('themes/incide/lead.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/******************* first-slide *****************************/

/* first slide (main title). Use h1 as header.
Use: <!-- _class: first-slide --> */
section.first-slide {
    background-image: url('themes/incide/incide-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

/******************* last-slide *****************************/

/* last slide (thanks). Use h1 as header.
Use: <!-- _class: last-slide --> */
section.last-slide {
    background-image: url('themes/incide/incide-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}