/*
@theme marp-viu
*/

/* Tema VIU para MARP */

@import 'default';

/******************* common styles *****************************/

:root {
    --main-color: #e65014;
    --extra-back-color: #aaa;
}

section header {
    /* header to the rigth
    right: 30px !important;
    left: auto !important; */
    font-size: 0.5em;
}

section footer {
    font-size: 0.5em;
}

/* Main headers color */
section h1, section h2, section a {
    color: var(--main-color);
}

/* Pagination: current / total */
section::after {
    /* content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total); */
    content: attr(data-marpit-pagination);
    font-size: 0.5em;
}

/* Logo */
section::before {
    content: "";
    width: 12%;
    height: 10%;
    position: absolute;
    right: 1%;
    top: 2%;
    background: url('themes/viu/logo-viu.png') no-repeat center/contain;
}

/* tables: always centered */
section table {
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

/* image directive: center the image. 
Use: ![center](image.png) */
img[alt~="center"] {
    display: block;
    margin: 0 auto;
}

/* Block quote: use only as the last element of a slide, for cites! */
section blockquote {
    border-top: 0.1em dashed gray;
    font-size: 60%;
    margin-top: auto;
}

/******************* lead *****************************/


/* lead class: first slide in a section. Use h1 as header.
Use: <!-- _class: lead --> */
section.lead {
    background-color:white;
    text-align: center;
}
section.lead h1, section.lead h2, section.lead p {
    margin-left: 25%;
}
section.lead h1:before {
    content: '';
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: url('themes/viu/lead2.png') no-repeat;
}
section.lead footer, section.lead header, section.lead:after {
    /* hide footer and pagination */
    display: none;
}

/******************* first-slide *****************************/


/* first-slide class (alternate vesion) first slide in a section. Use h1 as header.
Use: <!-- _class: first-slide --> */
section.first-slide {
    background-image: url('themes/viu/lead2.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
section.first-slide h1, section.first-slide h2 {
    color: white;
    background-color: #2c3e50dd;
}
section.first-slide footer, section.first-slide first-slide, section.first-slide:after {
    /* hide footer and pagination */
    display: none;
}

/******************* center *****************************/


/* center class: center all text
Use: <!-- _class: center --> */
section.center p {
    text-align: center;
}

/******************* smaller-font and smallest-font *****************************/

/* smaller-font class: texts are smaller than usual.
Use: <!-- _class: smaller-font --> */
section.smaller-font {
    /* In the default theme, texts are bigger than normal */
    font-size: 150%
}

/* smallest-font class: texts are smaller than usual.
Use: <!-- _class: smallest-font --> */
section.smallest-font {
    /* In the default theme, texts are bigger than normal */
    font-size: 120%
}

/******************* two-columns *****************************/


/* two-columns class. Left, rigth and bottom
Use: <!-- _class: two-columns --> or <!-- _class: two-columns with-header -->*/
section.two-columns {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    align-content: center;
    row-gap: 1em;
}
/* headers and 4th child extend all the way */
section.two-columns h1,section.two-columns h2 {
    grid-column: 1 / 3;
}
section.two-columns :nth-child(4) {
    grid-column: 1 / 3;
}
/* with-header: it is the 5th child the one that extends all the way */
section.two-columns.with-header :nth-child(4) {
    grid-column: auto !important;
}
section.two-columns.with-header :nth-child(5) {
    grid-column: 1 / 3 !important;
}

/******************* two-columns-33 *****************************/

/* two-columns-33 class
Use: <!-- _class: two-columns-33 --> or <!-- _class: two-columns-33 with-header -->*/
section.two-columns-33 {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-template-rows: auto auto;
    align-content: center;
    row-gap: 1em;
}
/* headers and 4th child extend all the way */
section.two-columns-33 h1,section.two-columns-33 h2 {
    grid-column: 1 / 3;
}
section.two-columns-33 :nth-child(4) {
    grid-column: 1 / 3;
}
/* with-header: it is the 5th child the one that extends all the way */
section.two-columns-33.with-header :nth-child(4) {
    grid-column: auto !important;
}
section.two-columns-33.with-header :nth-child(5) {
    grid-column: 1 / 3 !important;
}

/******************* extra-slide *****************************/

/* extra-slide class
Use: <!-- _class: extra-slide --> */
section.extra-slide {
    background-color: var(--extra-back-color);
}

/******************* with-info,success and warning *****************************/

/* Nota: el magin: auto lleva la caja al final de la transparencia. Si solo la quieres centrada:
    margin: 0 auto 0 auto;
 */

 section.with-info > p:last-of-type {
    border-radius: 0.15em;
    border: 2px solid rgb(17, 138, 207, 0.50);
    background-color: rgb(17, 138, 207, 0.25);
    padding: 0.5em 1em;
    width: 90%;
    margin: auto;
}
section.with-success > p:last-of-type {
    border-radius: 0.15em;
    border: 2px solid #73AD21aa;
    background-color: #73AD2133;
    padding: 0.5em 1em;
    width: 90%;
    margin: auto;
}
section.with-warning > p:last-of-type {
    border-radius: 0.15em;
    border: 2px solid #ce5708aa;
    background-color: #ce570855;
    padding: 0.5em 1em;
    width: 90%;
    margin: auto;
}
