/*
@theme marp-upc
*/

/* Tema UPC para MARP */

@import 'marp-base';

/******************* common styles *****************************/

:root {
    --main-color: rgb(0, 134, 199);
    --darker-color: #246;
    --lighter-color: #87ceeb;
    --extra-back-color: rgb(175, 172, 172);
}

/* Logo */
section::before {
    content: "";
    width: 15%;
    height: 10%;
    position: absolute;
    right: 1%;
    top: 0%;
    background: url('themes/upc/logo-upc.png') no-repeat center/contain;
}

/******************* lead *****************************/

/* lead class: first slide in a section. Use h1 as header.
Use: <!-- _class: lead --> */
section.lead {
    background-color:white;
    text-align: center;
    padding-top: inherit;
}
section.lead h1, section.lead h2, section.lead p {
    margin-left: 25%;
    background-color: white;
    color: var(--main-color);
    padding: inherit;
    margin-bottom: inherit;
}
section.lead h1:before {
    content: '';
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: url('themes/upc/lead2.png') no-repeat;
}
section.lead footer, section.lead header, section.lead:after {
    /* hide footer and pagination */
    display: none;
}
section.lead::before {
    /* reset logo */
    filter: inherit;
}

/******************* first-slide *****************************/


/* first-slide class
Use: <!-- _class: first-slide --> */
section.first-slide {
    background-image: url('themes/upc/foto-UPC-20-1000x520.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
section.first-slide h1, section.first-slide h2 {
    color: white;
    background-color: #2c3e50dd;
}
section.first-slide p {
    color: white;
    background-color: #2c3e5099;
    margin: 0em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
section.first-slide a {
    color: white;
    background-color: transparent !important;
}
section.first-slide footer, section.first-slide:after {
    /* hide footer and pagination */
    display: none;
}
section.first-slide::before {
    /* logo in white */
    filter: sepia(100%) brightness(2) saturate(0);
}

/******************* last-slide *****************************/


/* last-slide class (Thanks)
Use: <!-- _class: first-slide --> */
section.last-slide {
    background-image: url('themes/upc/foto-UPC-20-1000x520.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
section.last-slide h1, section.last-slide h2 {
    color: white;
    background-color: #2c3e50dd;
}
section.last-slide p {
    color: white;
    background-color: #2c3e5099;
    margin: 0;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}
section.last-slide a {
    color: white;
    background-color: transparent !important;
}
section.last-slide footer, section.last-slide:after {
    /* hide footer and pagination */
    display: none;
}
section.first-slide::before {
    /* logo in white */
    filter: sepia(100%) brightness(2) saturate(0);
}
