/*
@theme marp-viu
*/

/* Tema VIU para MARP */

@import 'marp-incide';

/******************* common styles *****************************/

:root {
    --main-color: #e65014;
    --darker-color: #e65014;
    --lighter-color: #e26c3e;
    --extra-back-color: rgb(175, 172, 172);
}

/* Logo */
section::before {
    content: "";
    width: 9%;
    height: 10%;
    position: absolute;
    right: 2.5%;
    top: 2%;
    background: url('themes/viu/logo-viu.png') no-repeat center/contain;
}


/******************* lead *****************************/

/* lead class: first slide in a section. Use h1 as header.
Use: <!-- _class: lead --> */
section.lead {
    background-color: var(--main-color);
    text-align: center;
    color: white;
    padding: inherit;
}
section.lead h1, section.lead h2, section.lead p, section.lead a {
    color: white;
    padding: 0.5em;
    background-color: inherit;
    margin-bottom: 0;
}
section.lead footer, section.lead header, section.lead:after {
    /* hide header, footer and pagination */
    display: none;
}
section.lead::before {
    /* logo in white */
    filter: invert(100%) saturate(0) brightness(1.8) ;
}

/******************* lead2 *****************************/


/* lead class: first slide in a section. Use h1 as header.
Use: <!-- _class: lead --> */
section.lead2 {
    background-color:white;
    text-align: center;
    padding: inherit;
    background-image: none;
}
section.lead2 h1, section.lead2 h2, section.lead2 p {
    margin-left: 25%;
    background-color: white;
    color: var(--main-color);
    padding: inherit;
    margin-bottom: inherit;
}
section.lead2 h1:before {
    content: '';
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: url('themes/viu/lead2.png') no-repeat;
}
section.lead2 footer, section.lead header, section.lead:after {
    /* hide footer and pagination */
    display: none;
}
section.lead2::before {
    /* reset logo */
    filter: inherit;
}

section2 header {
    color: var(--main-color);
}


/******************* first-slide *****************************/


/* first slide (main title). Use h1 as header.
Use: <!-- _class: first-slide --> */
section.first-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('themes/viu/bg2.png');
    text-align: left;
}
section.first-slide h1, section.first-slide h2 {
    color: #333;
    text-align: left;
    margin-top: 10em !important;
}
section.first-slide footer, section.first-slide first-slide, section.first-slide:after {
    /* hide footer and pagination */
    display: none;
}

/******************* corporative *****************************/


/* first slide (main title). Use h1 as header.
Use: <!-- _class: first-slide --> */
section.corporative {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('themes/viu/bg1.png');
    text-align: left;
}
section.corporative h1, section.corporative h2 {
    color: #111;
    text-align: left;
    margin-top: 10em !important;
}
section.corporative footer, section.corporative corporative, section.corporative:after {
    /* hide footer and pagination */
    display: none;
}
section.corporative a, section.corporative p {
    color: #111;
}