/*
@theme marp-viu
*/

/* Tema VIU para MARP */

@import 'marp-incide';

/******************* common styles *****************************/

:root {
    --main-color: #e65014;
    --darker-color: #e65014;
    --lighter-color: #e26c3e;
    --extra-back-color: rgb(175, 172, 172);
}

/* Logo */
section::before {
    content: "";
    width: 12%;
    height: 10%;
    position: absolute;
    right: 1%;
    top: 2%;
    background: url('themes/viu/logo-viu.png') no-repeat center/contain;
}


/******************* lead *****************************/


/* lead class: first slide in a section. Use h1 as header.
Use: <!-- _class: lead --> */
section.lead {
    background-color:white;
    text-align: center;
    padding: inherit;
}
section.lead h1, section.lead h2, section.lead p {
    margin-left: 25%;
    background-color: white;
    color: var(--main-color);
    padding: inherit;
    margin-bottom: inherit;
}
section.lead h1:before {
    content: '';
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: url('themes/viu/lead2.png') no-repeat;
}
section.lead footer, section.lead header, section.lead:after {
    /* hide footer and pagination */
    display: none;
}

/******************* first-slide *****************************/


/* first slide (main title). Use h1 as header.
Use: <!-- _class: first-slide --> */
section.first-slide {
    background-image: url('themes/viu/lead2.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
section.first-slide h1, section.first-slide h2 {
    color: white;
    background-color: #2c3e50dd;
}
section.first-slide footer, section.first-slide first-slide, section.first-slide:after {
    /* hide footer and pagination */
    display: none;
}
