/*
@theme marp-base
*/

/* base theme for MARP */

@import 'default';

/******************* common styles *****************************/

:root {
    --main-color: rgb(17, 138, 207);
    --darker-color: #246;
    --lighter-color: #87ceeb;
    --extra-back-color: rgb(175, 172, 172);
}

section p {
    margin-bottom: 0.6em;
    line-height: 1.2em;
}

section li {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    line-height: 1.2em;
}

section header {
    /* header to the rigth
    right: 30px !important;
    left: auto !important; */
    font-size: 0.5em;
}

section footer {
    font-size: 0.5em;
}

/* Main headers color */
section h1, section h2 {
    color: var(--darker-color);
}

section a {
    color: var(--main-color);
}

/* Pagination: current / total */
section::after {
    /* content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total); */
    content: attr(data-marpit-pagination);
    font-size: 0.5em;
}

/* tables: always centered */
section table {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    border: 0;    
}
section table th {
    background-color: var(--main-color);
    color: white;
    border: 0;
    border-top: black solid 2px;
}
section table td {
    border: 0;
}
section table tr:nth-child(2) {
    background-color: #dedede;
}
section table tr:last-child {
    border-bottom: black solid 2px;
}

/* image directive: center the image. 
Use: ![center](image.png) */
img[alt~="center"] {
    display: block;
    margin: 0 auto;
}

/* Block quote: use only as the last element of a slide, for cites! */
section blockquote {
    border-top: 0.1em dashed var(--extra-back-color);
    font-size: 60%;
    margin-top: auto;
}

/******************* lead *****************************/


/* lead class: first slide in a section. Use h1 as header.
Use: <!-- _class: lead --> */
section.lead {
    background-color: var(--main-color);
    text-align: left;
    color: white;
    padding-top: 15em;
}
section.lead h1, section.lead h2, section.lead p, section.lead a {
    color: white;
    padding: 0.5em;
    background-color: rgba(17, 138, 207, 0.8);
    margin-bottom: 0;
}
section.lead footer, section.lead header, section.lead:after {
    /* hide header, footer and pagination */
    display: none;
}
section.lead::before {
    /* logo in white */
    filter: sepia(100%) brightness(2) saturate(0);
}

/******************* lead2 *****************************/


/* lead2 class (alternate version) first slide in a section. Use h1 as header.
Use: <!-- _class: lead2 --> */
section.lead2 {

}
section.lead2 h1, section.lead2 h2, section.lead2 a {
    color: white;
    background-color: var(--darker-color);
    opacity: 0.9;
    text-align: center;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}
section.lead2 footer, section.lead2 header, section.lead2:after {
    /* hide footer and pagination */
    display: none;
}


/******************* first-slide *****************************/


/* first slide (main title). Use h1 as header.
Use: <!-- _class: first-slide --> */
section.first-slide {
    text-align: center;
}
section.first-slide h1, section.first-slide h2, section.first-slide a {
    color: var(--darker-color);
}
section.first-slide footer, section.first-slide header, section.first-slide:after {
    /* hide header, footer and pagination */
    display: none;
}
section.first-slide p{
    margin-bottom: 1em;
}

/******************* last-slide *****************************/


/* last slide (thanks). Use h1 as header.
Use: <!-- _class: last-slide --> */
section.last-slide {
    text-align: center;
}
section.last-slide h1, section.last-slide h2, section.last-slide a {
    color: var(--darker-color);
}
section.last-slide footer, section.last-slide header, section.last-slide:after {
    /* hide header, footer and pagination */
    display: none;
}


/******************* center *****************************/

/* center class: center all text
Use: <!-- _class: center --> */
section.center p, section.center h1, section.center h2 {
    text-align: center;
}

/******************* smaller-font and smallest-font *****************************/

/* smaller-font class: texts are smaller than usual.
Use: <!-- _class: smaller-font --> */
section.smaller-font {
    /* In the default theme, texts are bigger than normal */
    font-size: 150%
}

/* smallest-font class: texts are smaller than usual.
Use: <!-- _class: smallest-font --> */
section.smallest-font {
    /* In the default theme, texts are bigger than normal */
    font-size: 120%
}

/******************* two-columns *****************************/


/* two-columns class. Left, rigth and bottom
Use: <!-- _class: two-columns --> or <!-- _class: two-columns with-header -->*/
section.two-columns {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    align-content: center;
    row-gap: 1em;
}
/* headers and 4th child extend all the way */
section.two-columns h1,section.two-columns h2 {
    grid-column: 1 / 3;
}
section.two-columns :nth-child(4) {
    grid-column: 1 / 3;
}
/* with-header: it is the 5th child the one that extends all the way */
section.two-columns.with-header :nth-child(4) {
    grid-column: auto !important;
}
section.two-columns.with-header :nth-child(5) {
    grid-column: 1 / 3 !important;
}

/******************* two-columns-33 *****************************/

/* two-columns-33 class
Use: <!-- _class: two-columns-33 --> or <!-- _class: two-columns-33 with-header -->*/
section.two-columns-33 {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-template-rows: auto auto;
    align-content: center;
    row-gap: 1em;
}
/* headers and 4th child extend all the way */
section.two-columns-33 h1,section.two-columns-33 h2 {
    grid-column: 1 / 3;
}
section.two-columns-33 :nth-child(4) {
    grid-column: 1 / 3;
}
/* with-header: it is the 5th child the one that extends all the way */
section.two-columns-33.with-header :nth-child(4) {
    grid-column: auto !important;
}
section.two-columns-33.with-header :nth-child(5) {
    grid-column: 1 / 3 !important;
}

/******************* two-columns-list *****************************/

/* two-columns-list
A large ul list that fits in two columns

Examples of configuration for three columns. In a scoped style section:

ol { height: 20em; list-style-type: numeric; }
ol>* { width: 12em; } 
ol { list-style-type: lower-latin; /* disc lower-roman decimal }
*/

section.two-columns-list ol {
    height: 18em;  /* height of the list. You may want to change this */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: disc;
}
section.two-columns-list ol>* {
    flex: 0 1 auto;
    width: 20em; /* You can change this for more columns */
}
section.two-columns-list li {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

/******************* extra-slide *****************************/

/* extra-slide class (greyed out)
Use: <!-- _class: extra-slide --> */
section.extra-slide {
    background-color: var(--extra-back-color);
}

/******************* with-info,success and warning *****************************/

/* Nota: el magin: auto lleva la caja al final de la transparencia. Si solo la quieres centrada:
    margin: 0 auto 0 auto;
 */

 section.with-info > p:last-of-type {
    border-radius: 0.15em;
    border: 2px solid rgb(17, 138, 207, 0.50);
    background-color: rgb(17, 138, 207, 0.25);
    padding: 0.5em 1em;
    width: 90%;
    margin: auto;
    text-align: center;
}
section.with-success > p:last-of-type {
    border-radius: 0.15em;
    border: 2px solid #73AD21aa;
    background-color: #73AD2133;
    padding: 0.5em 1em;
    width: 90%;
    margin: auto;
    text-align: center;
}
section.with-warning > p:last-of-type {
    border-radius: 0.15em;
    border: 2px solid #ce5708aa;
    background-color: #ce570855;
    padding: 0.5em 1em;
    width: 90%;
    margin: auto;
    text-align: center;
}
/*
section.with-warning > p:last-of-type::before {
    content: "⚠ ";
}
*/

/******************* cool-list *****************************/

/* Una lista redonda

Sacada de: https://catalin.red/css3-ordered-list-styles/

Uso:

## cool-list
<!-- _class: cool-list -->

1. *Uno*
1. *Dos*
    1. *Tres*
    1. *Cuatro*
1. *Cinco*
*/

section.cool-list ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    padding: 0;
    /*text-shadow: 0 1px 0 rgba(255,255,255,.5);*/
}
section.cool-list li {
    margin-bottom: 0.1em !important;
    margin-top: 0.1em !important;
}
section.cool-list ol > li > em, section.cool-list > ol > li > a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    font-style: normal;
}
section.cool-list ol > li > em:before, section.cool-list > ol > li > a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: var(--main-color);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: normal;
    border-radius: 2em;
    transition: all .3s ease-out;
    color: white;
}
section.cool-list > ol > li > em:hover, section.cool-list > ol > li > a:hover{
    background: #eee;
    font-weight: bolder;
}
/* Rotating effect */
/*
section.cool-list ol > li > em:hover:before,section.cool-list ol > li > a:hover:before{
    transform: rotate(360deg);
}*/
/* Lists inside lists */
section.cool-list > ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
    font-size: 75%;
    counter-reset: li2; /* Initiate a counter */
}
section.cool-list > ol ol > li > em:before,section.cool-list > ol ol > li > a:before{
    content: counter(li2);
    counter-increment: li2;
}
section.cool-list > ol > li > ul {
    list-style-type: disc;
    margin: 0 0 0 1em;
    font-size: 75%;
}
section.cool-list > ol ol > li > em {
    background: #efefef;
}

/******************* cool-list2 *****************************/

/* Una lista animada.

Sacada de: https://catalin.red/css3-ordered-list-styles/

Uso:

## cool-list2
<!-- _class: cool-list2 -->

1. *Uno*
1. *Dos*
    1. *Tres*
    1. *Cuatro*
1. *Cinco*
*/

section.cool-list2 ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
section.cool-list2 ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}
section.cool-list2 ol li em {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
    font-style: normal;
}
section.cool-list2 ol li em:hover {
      background: #eee;
      font-weight: bolder;
}
section.cool-list2 ol li em:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    /* background: #fa8072; */
    background: var(--lighter-color);
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}
section.cool-list2 ol li em:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}
section.cool-list2 ol li em:hover:after{
    left: -.5em;
    /* border-left-color: #fa8072; */
    border-left-color: var(--lighter-color);
}
/* Lists inside lists */
section.cool-list2 ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
    font-size: 75%;
    counter-reset: li2; /* Initiate a counter */
}
section.cool-list2 ol ol > li > em:before,section.cool-list2 ol ol > li > a:before{
    content: counter(li2);
    counter-increment: li2;
    background: lightgray;
}
section.cool-list2 ol ul {
    list-style-type: disc;
    margin: 0 0 0 1em;
    font-size: 75%;
}
section.cool-list2 ol ol em {
    background: #efefef;
}


/******************* cool-list2 *****************************/

/* A special class for a white logo */
section.white-logo::before {
    /* logo in white */
    filter: sepia(100%) brightness(2) saturate(0) !important;
}

/* A special class for a black logo */
section.black-logo::before {
    /* logo in white */
    filter: brightness(0) !important;
}
